<ion-view view-title="Game">
  <ion-content ng-controller="GameCtrl">
    <div class="row">
    <div class="pf col col-50" ng-repeat="player in game.players">
      <h1 class="pf-player">{{ player.name }}</h1>
      <stars points="player.wins"></stars>
      <div class="pf-currentplay">
        <i class="icon {{player.currentPlay | icon}}"></i>
      </div>
    </div>
  </div>
    <div class="game-status">
      <h2>Juga!</h2>
    </div>
    <progress max="1000" value="{{timeLeft}}"> </progress>
      <div class="button-bar">
        <button class="button icon-left ion-egg" ng-click="doPlay('ROCK')" ng-disabled="buttonsDisabled()">Piedra</button>
        <button class="button icon-left ion-document" ng-click="doPlay('PAPER')" ng-disabled="buttonsDisabled()">Papel</button>
        <button class="button icon-left ion-scissors" ng-click="doPlay('SCISSORS')" ng-disabled="buttonsDisabled()">Tijera</button>
      </div>
      <!-- directiva que invoca al metodo -->


      <h2>
        {{game.status}}
      </h2>
  </ion-content>
</ion-view>
